.Productos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  box-sizing: border-box;
  gap: 1em;
  width: 100%;
}

.Contenedor {
  width: 750px;
  margin: 2em auto;
}

@media (max-width: 860px) {
  .Productos {
    grid-template-columns: 1fr 1fr;
  }
  .Contenedor {
    width: 475px;
  }
}
@media (max-width: 600px) {
  .Productos {
    grid-template-columns: 1fr;
  }
  .Contenedor {
    width: 300px;
  }
}
