.Productos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  box-sizing: border-box;
  gap: 1em;

  width: 100%;
}

.Contenedor {
  width: 75%;
  margin: 2em auto;
}

@media (max-width: 950px) {
  .Productos {
    grid-template-columns: 1fr 1fr;
  }
  .Contenedor {
    width: 75%;
  }
}
@media (max-width: 600px) {
  .Productos {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 1200px) {
  .Contenedor {
    width: 60%;
  }
}

@media (min-width: 1500px) {
  .Contenedor {
    width: 45%;
  }
}
