.Footer {
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
  align-items: center;
  margin: 0;
  background-color: #c8c8c8;
  box-sizing: border-box;
}
.More {
  display: flex;
  padding: 1em;
  background-color: black;
  color: white;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
}
.Extra {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 950px) {
  .Extra {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 600px) {
  .Extra {
    grid-template-columns: 1fr;
  }
}
