.Concepts {
  margin: 1em 0;
  background-color: #747a8d26;
  padding: 5px 20px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 10px;
}

.Concept {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: -15px 0;
  font-size: 15px;
  font-style: italic;
}
