.Controls {
  display: flex;
  padding: 1em 2em;
  width: 420px;
  margin: auto;
  border: 0.5px solid #ccc;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 50px 50px;
}

.Seleccion {
  display: flex;
  width: 110px;
  align-items: center;
  justify-content: space-between;
  border: 0.5px solid rgba(0, 0, 0, 0.424);
  padding: 3px 10px;
  border-radius: 5px;
  font-size: 16px;
}
.Seleccion:hover {
  background-color: rgb(233, 233, 233);
}
.Seleccion > i:hover {
  cursor: pointer;
}

@media (max-width: 500px) {
  .Controls {
    flex-direction: column;
    width: 300px;
  }
  .Seleccion {
    margin-top: 1em;
  }
}
